{% extends "base.html" %}

{% block content %}
<h2>Распространенные симптомы и первая помощь</h2>

<div class="list-group mt-3">
    <div class="list-group-item">
        <h5>Головная боль</h5>
        <p>Примите парацетамол или ибупрофен, отдохните в тишине.</p>
    </div>
    <div class="list-group-item">
        <h5>Температура</h5>
        <p>Пейте больше воды, примите жаропонижающее, если температура выше 38.5°C.</p>
    </div>
    <div class="list-group-item">
        <h5>Боль в горле</h5>
        <p>Полоскание содой (1 ч.л. на стакан воды), леденцы от боли в горле.</p>
    </div>
</div>
{% endblock %}